<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col xs-12">
          <div class="form-group">
            <button [disabled]="!recipeForm.valid" class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" type="text" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input class="form-control" id="imagePath" type="text" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" [src]="imagePath.value" alt="Recipe image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" cols="30" id="description" name="description" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
               [formGroupName]="i"
                style="margin-top: 10px">
            <div class="col-xs-7">
              <input class="form-control" type="text" placeholder="Ingredient" formControlName="name">
            </div>
            <div class="col-xs-3">
              <input class="form-control" type="number" placeholder="Amount" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()">
                Add Ingredient
              </button>
              <button type="button"
                      class="btn btn-danger"
                      (click)="onDeleteAllIngredients()">
                Delete All Ingredients
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
